/*.container-fluid {
    margin-top: 20px; 
    margin-right: 20px; 
    margin-left: 20px; 
    margin-bottom: 20px;
}

.sidebar {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.sidebar-offcanvas {
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-content {
    background-color: #f8f9fa;
    padding: 20px;
}

.image-preview img {
    max-width: 100px;
    margin: 10px;
}

.add-image {
    display: inline-block;
    margin-bottom: 10px;
}

.input-group .form-control {
    border-right: 0;
}

.input-group .btn-outline-secondary {
    border-left: 0;
}

.col-md-10 {
    background-color: #f8f9fa; 
    padding: 20px; 
}*/


/*seccion catalogo paquetes*/
.service-item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.service-item:hover {
    transform: translateY(-5px);
}

.service-item p:nth-child(4) {
    font-size: 24px;
    color: #007bff;
    font-weight: bold;
}

.btn-favorite {
    background-color: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action {
    margin: 0 5px;
    padding: 5px 20px;
}

.btn-primary.btn-action:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary.btn-action {
    color: #fff;
}

.btn-light {
    margin-bottom: 10px;
}

.shadow-custom {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.circle-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
