<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/estiloAdmin/feather.css' %}">
  <link href="{% static 'css/estiloAdmin/themify-icons.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/estiloAdmin/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'css/estiloAdmin/dataTables.bootstrap4.css' %}"> <!--Aqui añadire el scrol horizontal-->
  <link rel="stylesheet" href="{% static 'css/estiloAdmin/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estiloAdmin/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link href="{% static 'css/estiloAdmin/estilo.css' %}" rel="stylesheet">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
  <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row bg-dark">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo mr-5" href="/"><img src="{% static 'img/logo.png' %}" class="mr-2" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="/"><img src="{% static 'img/logo.png' %}" alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
          <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
              <div class="input-group">
                <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                  <span class="input-group-text" id="search">
                    <i class="icon-search"></i>
                  </span>
                </div>
                <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
              </div>
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="icon-bell mx-0"></i>
                <span class="count"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="ti-info-alt mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">Application Error</h6>
                    <p class="font-weight-light small-text mb-0 text-muted">
                      Just now
                    </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="ti-settings mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">Settings</h6>
                    <p class="font-weight-light small-text mb-0 text-muted">
                      Private message
                    </p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="ti-user mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">New user registration</h6>
                    <p class="font-weight-light small-text mb-0 text-muted">
                      2 days ago
                    </p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                <img src="{{ rutaImgPerfil }}" alt="profile"/>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="/configuracion/gestion">
                  <i class="ti-settings text-primary"></i>
                  Configuración
                </a>
                <a class="dropdown-item" href="/logout">
                  <i class="ti-power-off text-primary"></i>
                  Salir
                </a>
              </div>
            </li>
            <li class="nav-item nav-settings d-none d-lg-flex">
              <a class="nav-link" href="#">
                <i class="icon-ellipsis"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">

          <div id="settings-trigger"><i class="ti-settings fas fa-screwdriver"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close ti-close fas fa-screwdriver"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
            <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default"></div>
            </div>
          </div>
        </div>
        <div id="right-sidebar" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
            </li>
          </ul>
          <div class="tab-content" id="setting-content">
            <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
              <div class="add-items d-flex px-3 mb-0">
                <form class="form w-100">
                  <div class="form-group d-flex">
                    <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                    <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                  </div>
                </form>
              </div>
              <div class="list-wrapper px-3">
                <ul class="d-flex flex-column-reverse todo-list">
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox">
                        Team review meeting at 3.00 PM
                      </label>
                    </div>
                    <i class="remove ti-close"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox">
                        Prepare for presentation
                      </label>
                    </div>
                    <i class="remove ti-close"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox">
                        Resolve all the low priority tickets due today
                      </label>
                    </div>
                    <i class="remove ti-close"></i>
                  </li>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" checked>
                        Schedule meeting for next week
                      </label>
                    </div>
                    <i class="remove ti-close"></i>
                  </li>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" checked>
                        Project review
                      </label>
                    </div>
                    <i class="remove ti-close"></i>
                  </li>
                </ul>
              </div>
              <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
              <div class="events pt-4 px-3">
                <div class="wrapper d-flex mb-2">
                  <i class="ti-control-record text-primary mr-2"></i>
                  <span>Feb 11 2018</span>
                </div>
                <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
                <p class="text-gray mb-0">The total number of sessions</p>
              </div>
              <div class="events pt-4 px-3">
                <div class="wrapper d-flex mb-2">
                  <i class="ti-control-record text-primary mr-2"></i>
                  <span>Feb 7 2018</span>
                </div>
                <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                <p class="text-gray mb-0 ">Call Sarah Graves</p>
              </div>
            </div>
            <!-- To do section tab ends -->
            <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
              <div class="d-flex align-items-center justify-content-between border-bottom">
                <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
                <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
              </div>
              <ul class="chat-list">
                <li class="list active">
                  <div class="profile"><img src="images/faces/face1.jpg" alt="image"><span class="online"></span></div>
                  <div class="info">
                    <p>Thomas Douglas</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">19 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="images/faces/face2.jpg" alt="image"><span class="offline"></span></div>
                  <div class="info">
                    <div class="wrapper d-flex">
                      <p>Catherine</p>
                    </div>
                    <p>Away</p>
                  </div>
                  <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                  <small class="text-muted my-auto">23 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="images/faces/face3.jpg" alt="image"><span class="online"></span></div>
                  <div class="info">
                    <p>Daniel Russell</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">14 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="images/faces/face4.jpg" alt="image"><span class="offline"></span></div>
                  <div class="info">
                    <p>James Richardson</p>
                    <p>Away</p>
                  </div>
                  <small class="text-muted my-auto">2 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="images/faces/face5.jpg" alt="image"><span class="online"></span></div>
                  <div class="info">
                    <p>Madeline Kennedy</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">5 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="images/faces/face6.jpg" alt="image"><span class="online"></span></div>
                  <div class="info">
                    <p>Sarah Graves</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">47 min</small>
                </li>
              </ul>
            </div>
            <!-- chat tab ends -->
          </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/login/usAdmin">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>

              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="icon-layout menu-icon "></i>
                <span class="menu-title">Usuarios</span>
                <!--<i class="fas fa-arrow-right"></i>-->
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Gestionar permisos</a></li>
                  <li class="nav-item"> <a class="nav-link"  href="/login/usAdmin/detalleUsuarios">Detalle Usuarios</a></li>
                  <!--<li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>-->
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <i class="icon-columns menu-icon"></i>
                <span class="menu-title">Dispositivos</span>
                <!--<i class="menu-arrow"></i>-->
              </a>
              <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="/dispositivosAdmin/usAdmin">Agregar dispositivo</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="icon-bar-graph menu-icon"></i>
                <span class="menu-title">Gestionar propietarios</span>
                <!--<i class="menu-arrow"></i>-->
              </a>
              <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Planes</span>
                <!--<i class="menu-arrow"></i>-->
              </a>
              <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/crearPaquete/usAdmin">Crear planes</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                <i class="icon-contract menu-icon"></i>
                <span class="menu-title">Ofertas</span>
                <!--<i class="menu-arrow"></i>-->
              </a>
              <div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Detalle cuenta</span>
                <!--<i class="menu-arrow"></i>-->
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Editar información </a></li>
                  <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login/infoLegal">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Información legal</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
                <div class="row"style="padding-botton: 5%;">
                    <div class="row col-12" style="padding-left: 5%;">
                      <h3>Usuarios</h3>
                    </div>
                    <div class="row col-12" style="padding-left: 5%;">
                      <form method="GET">
                        <div class="input-group">
                          <input type="text"name="buscar"  class="form-control" id="navbar-search-input" placeholder="Código, Usuario, Estado" aria-label="search" aria-describedby="search" value="{{ request.GET.buscar }}">
                          <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                            <button class="input-group-text" id="search">
                                <i class="icon-search"></i>
                            </button>
                          </div>
                      </div>


                      </form>

                    <div class="row col-12" style="padding-top: 2%; padding-left: 5%;">

                      <div class="col-4">

                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Registrar nuevo Usuario</button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                              <div class="modal-header bg-primary">
                                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #fff;">Registrar nuevo usuario</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <div class="col-lg-12 contact-form__wrapper p-5 order-lg-1">
                                    <form action="/login/usAdmin/detalleUsuarios" method="POST" class="contact-form form-validate" novalidate="novalidate">
                                        {% csrf_token %}
                                        <div class="row">
                                            <!--Tipo de identificacion-->
                                            <div class="col-sm-12 mb-4">
                                                <div class="form-group">
                                                    <label class="required-field" for="idType">Tipo de Identificación</label>
                                                    <select class="form-control" id="idType" name="idType">
                                                        <option value="cedula">Cédula</option>
                                                        <option value="pasaporte">Pasaporte</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label class="required-field" for="idNumber">Número de Identificación</label>
                                                    <input type="text" class="form-control" id="idNumber" name="idNumber" placeholder="Cédula o Pasaporte">
                                                </div>
                                            </div>

                                            <!--Primer y segundo nombre-->
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label class="required-field" for="firstName">Nombre</label>
                                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Nombres">
                                                </div>
                                            </div>
                                            <!--
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label for="secondName">Segundo Nombre</label>
                                                    <input type="text" class="form-control" id="secondName" name="secondName" placeholder="Segundo Nombre">
                                                </div>
                                            </div>-->

                                            <!-- Apellido Paterno y Apellido Materno -->
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label class="required-field" for="lastName">Apellidos</label>
                                                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Apellidos">
                                                </div>
                                            </div><!--
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label for="secondLastName">Apellido Materno</label>
                                                    <input type="text" class="form-control" id="secondLastName" name="secondLastName" placeholder="Apellido Materno">
                                                </div>
                                            </div>-->

                                            <!-- Correo Electrónico y Género -->
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label class="required-field" for="email">Email</label>
                                                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo Electrónico">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label for="gender">Género</label>
                                                    <select class="form-control" id="gender" name="gender">
                                                        <option value="1">Masculino</option>
                                                        <option value="2">Femenino</option>
                                                        <option value="3">Prefiero no decirlo</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- Edad y Teléfono -->
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label for="birthdate">Fecha de Nacimiento</label>
                                                    <input type="date" class="form-control" id="birthdate" name="birthdate">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label for="phone">Teléfono</label>
                                                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="+593">
                                                </div>
                                            </div>

                                            Estado Civil y Rol de Usuario
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label for="maritalStatus">Estado Civil</label>
                                                    <select class="form-control" id="maritalStatus" name="maritalStatus">
                                                        <option value="1">Soltero/a</option>
                                                        <option value="2">Casado/a</option>
                                                        <option value="3">Viudo/a</option>
                                                        <option value="4">Divorciado/a</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label for="userRole">Rol de Usuario</label>
                                                    <select class="form-control" id="userRole" name="userRole">
                                                        <option value="1">Administrador</option>
                                                        <option value="2">Doctor</option>
                                                        <option value="3">Paciente</option>
                                                        <option value="4">Familiar</option>
                                                        <option value="5">Invitado</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <!-- Provincia y Ciudad -->
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label for="province">Provincia</label>
                                                    <select class="form-control" id="province" name="province">
                                                        <option value="guayas">Guayas</option>
                                                        <option value="pichincha">Pichincha</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label for="city">Ciudad</label>
                                                    <select class="form-control" id="city" name="city">
                                                        <option value="guayaquil">Guayaquil</option>
                                                        <option value="quito">Quito</option>

                                                    </select>
                                                </div>
                                            </div>

                                             <!-- Dirección -->
                                            <div class="col-sm-12 mb-4">
                                                <div class="form-group">
                                                    <label for="address">Dirección</label>
                                                    <input type="text" class="form-control" id="address" name="address" placeholder="Dirección Completa">
                                                </div>
                                            </div>

                                            <div class="col-sm-12 mb-4">
                                                <div class="form-group">
                                                    <label class="required-field" for="codPulsera">Codigo Pulsera</label>
                                                    <input type="text" class="form-control" id="codPulsera" name="codPulsera" placeholder="Código Pulsera">
                                                </div>
                                            </div>

                                            <!-- Contraseña y Repetir Contraseña (Ajustar IDs y Names) -->
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label for="password">Contraseña</label>
                                                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-group">
                                                    <label for="confirmPassword">Repetir Contraseña</label>
                                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Repetir Contraseña">
                                                </div>
                                            </div>

                                            <!-- Botón de Registro -->
                                            <div class="col-sm-12 mb-4">
                                                <button style="width: 50%; position: relative; left: 25%;" type="submit" name="submit" class="btn btn-primary">Registrarme</button>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-4">
                        <a class="btn btn-primary" href="#" role="button"><i class="fas fa-screwdriver"></i>Configuración general</a>
                      </div>

                      <div class="col-4">
                        <div class="btn-group btn-primary">
                          <button type="button" class="btn btn-primary">Filtro</button>
                          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                            <span class="visually-hidden">Activos</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Inactivos</a></li>
                            <li><a class="dropdown-item" href="#">Adquirido</a></li>
                            <li><a class="dropdown-item" href="#">Por Comprar</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sin filtro</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row" style="padding: 5%; overflow-x: scroll;">
                    <table class="table caption-top scroll-horizontal" style="overflow-x: scroll;">
                        <caption>Lista de usuarios</caption>
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Id Usuario</th>
                            <th scope="col">Nombre de Usuario</th>
                            <th scope="col">Email</th>
                            <th scope="col">Ultimo Ingreso</th>
                            <th scope="col">Fecha de registro</th>
                            <th scope="col">ciudad</th>
                            <th scope="col">direccion</th>
                            <th scope="col" title="1:Administrador &#013; 2:Doctor&#013; 3:Paciente &#013; 4:Familiar">Rol</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody style="overflow-x: scroll;">
                          {% for user in usuarios %}
                          <tr>
                            <td>{{cont}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.first_name}} , {{user.last_name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.last_login}}</td>
                            <td>{{user.date_joined}}</td>
                            <td>{{user.ciudad}}</td>
                            <td>{{user.direccion}}</td>
                            <td>{{user.rol_id}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#activoInactivo" style="background-color:#37A7FE; ">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" style="background-color:#3788FF" id="flexSwitchCheckChecked" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Activo</label>
                                    </div>
                                </button>
                            </td>
                            <td>
                              <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                  <i class="fas fa-pen"></i>
                                </button>
                                  <ul class="dropdown-menu">
                                      <li>

                                        <li><a class="dropdown-item" href="#"style="text-decoration: none; color: inherit;" data-toggle="modal" data-target="#modalEditarDatos">Editar datos</a></li>

                                      </li>
                                      <li><a class="dropdown-item" href="#">Administrar</a></li>
                                      <li><a class="dropdown-item" href="#">Ver</a></li>
                                      <li><a class="dropdown-item" href="#">eliminar</a></li>
                                  </ul>
                              </div>

                            </td>
                          </tr>
                          {% endfor %}
                                <!-- Modal -->
                                <div class="modal fade" id="activoInactivo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        ...
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                          </tr>

                        </tbody>
                      </table>
                </div>


            </div>

          </div>
        </div>
        </div>
  </div>
  <!-- Modales de opcion Li  -->
  <div class="modal fade" id="modalEditarDatos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #fff;">Edición del dispositivo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/regitroDispositivo/" method="POST" class="contact-form form-validate" novalidate="novalidate">
            {% csrf_token %}
            <div class="mb-3 col-12 row">
              <div class="col-5">
                <label for="recipient-name" class="col-form-label">Número de serie</label>
                <input type="text" class="form-control" id="numSerie" name="numSerie">
              </div>
              <div class="col-5">
                <label for="recipient-name" class="col-form-label">Estado del dispositivo</label>
                <select name="opEstado" class="form-select form-control" aria-label="Default select example">
                  <option selected>Selecciona una opción</option>
                  <option value="1">Disponible</option>
                  <option value="2">Asignado</option>
                  <option value="3">Vendido</option>
                  <option value="4">Alquilado</option>
                </select>

              </div>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Tipo</label>
              <select name="opTipo" class="form-select form-control" aria-label="Default select example">
                <option selected>Selecciona una opción</option>
                <option value="1">Pulsera</option>
                <option value="2">Anillo</option>
              </select>
            </div>
            <div>
              <button style="width: 50%; position: relative; left: 25%;" type="submit" name="submit" class="btn btn-primary">Registrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Script luego del registro de usuario-->
  <script>
    {{ script_js|safe }}
    </script>
  <script src="{% static 'js/codigoAdmin/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'js/codigoAdmin/Chart.min.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/codigoAdmin/off-canvas.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/template.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/settings.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/codigoAdmin/dashboard.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/logicaAdmin.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/Chart.roundedBarCharts.js' %}"></script>
</body>