<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% load static %}
{% block content %}

<body>

    <!-- Navbar Start -->
    {% include 'navbarAzul.html' %}
    <!-- Navbar End -->

<!-- Begin Site Title
================================================== -->
<div class="container">
	<div class="mainheading">
		<h1 class="sitetitle" style="margin-top: 3%;">Blogs y Noticias</h1>
		<p class="lead">
			 Noticias y blogs del mundo de la medicina.
		</p>
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
    <div class="section-title">
      <h2><span>Featured</span></h2>
    </div>
      <!-- begin post  {% static 'img/presionArterial.jpg' %} -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for blog in blogs|slice:":3" %}
        <div class="col">
          <a class="card h-100" href="detalleBlogs/{{blog.id}}">
            <img src="{% static 'img/presionArterial.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{blog.titulo}}</h5>
              <p class="card-text">{{ blog.noticia|truncatechars:109 }}</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
	</section>
	<!-- End Featured
	================================================== -->

	<!-- Begin List Posts
	================================================== -->
	<section class="recent-posts" style="margin-top: 5%;">
    <div class="section-title">
      <h2><span>Más Blogs</span></h2>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for blog in blogs %}
      <div class="col">
        <a class="card" href="detalleBlogs/{{blog.id}}">
          <img src="{% static 'img/oxigenacion.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{blog.titulo}}</h5>
            <p class="card-text">{{ blog.noticia|truncatechars:109 }}</p>
          </div>
        </a>
      </div>
      {% if forloop.counter|divisibleby:2 %}
      <div class="w-100"></div> <!-- Agrega una columna limpia después de cada dos tarjetas -->
      {% endif %}
      {% endfor %}
    </div>
	</section>
	<!-- End List Posts
	================================================== -->

	<!-- Begin Footer
	================================================== -->
	{% include 'footer.html' %}
	<!-- End Footer
	================================================== -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/codigoBlogs.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
{% endblock %}
</html>
