<div class="container-fluid bg-dark text-white-50 footer pt-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <a href="index.html" class="d-inline-block mb-3">
                    <h1 class="text-white">DOC<span class="text-primary">.</span></h1>
                </a>
            </div>
            <div class="col-md-7 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <h5 class="text-white mb-4">Contacto</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>Urdesa Central, Victor Emilio Estrada y Las Lomas</p>
                <p><i class="fa fa-phone-alt me-3"></i>(+593) 959434579</p>
                <p><i class="fa fa-envelope me-3"></i>smart_band@hangaroa.ec</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-2 col-lg-2 wow fadeIn" data-wow-delay="0.5s">
                <h5 class="text-white mb-4">Menu</h5>
                <a class="btn btn-link" href="/paquetes" class="dropdown-item">Paquetes</a>
                <a class="btn btn-link" href="/catalogDispositivo" class="dropdown-item">Dispositivos</a>
                <a class="btn btn-link" href="/crearCercos" class="dropdown-item">Cercos</a>
                <a class="btn btn-link" href="testimonial.html" class="dropdown-item">Testimonial</a>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <h5 class="text-white mb-4">Nuestros planes</h5>
                <a class="btn btn-link" href="/detallePaquete">Paquete Básico</a>
                <a class="btn btn-link" href="/detallePaquete">Paquete Avanzado</a>
                <a class="btn btn-link" href="/detallePaquete">Paquete Premium</a>
                <a class="btn btn-link" href="/detallePaquete">Paquete Salud Total</a>
            </div>
        </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Doc</a>, Todos los derechos reservados.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
</div>