<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'css/estiloAdmin/feather.css' %}">
  <link href="{% static 'css/estiloAdmin/themify-icons.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/estiloAdmin/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'css/estiloAdmin/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'css/estiloAdmin/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/estiloAdmin/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link href="{% static 'css/estiloAdmin/estilo.css' %}" rel="stylesheet">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
  <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container-scroller">
    <!-- partial: navbar.html -->
    {% include 'usFamiliar/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial: settings-panel.html -->
      {% include 'usFamiliar/settings-panel.html' %}
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      {% include 'usFamiliar/sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  {% csrf_token %}
                  <h3 class="font-weight-bold">Bienvenido Familiar {{usuario}}</h3>
                  <h6 class="font-weight-normal mb-0">Todos los sistemas estan corriendo con normalidad.</h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     <i class="mdi mdi-calendar"></i> Familiar X
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuDate2">
                      <a class="dropdown-item" href="#">Familiar 1</a>
                      <a class="dropdown-item" href="#">Familiar 2</a>
                      <a class="dropdown-item" href="#">Familiar 3</a>
                    </div>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-md-7 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Mediciones En Tiempo Real</p>
                  <p class="font-weight-500">Mediciones en tiempo real (Cambiar) </p>
                  <div class="d-flex flex-wrap mb-5">
                    <div class="mr-5 mt-3">
                      <p class="text-muted">Presión Arterial</p>
                      <h3 class="text-primary fs-30 font-weight-medium">120/70 mmHg</h3>
                    </div>
                    <div class="mr-5 mt-3">
                      <p class="text-muted">Oxigenación</p>
                      <h3 class="text-primary fs-30 font-weight-medium">90%</h3>
                    </div>
                    <div class="mr-5 mt-3">
                      <p class="text-muted">Frecuencia Cardíaca Promedio</p>
                      <h3 class="text-primary fs-30 font-weight-medium">99 BPM</h3>
                    </div>
                    <div class="mt-3">
                      <p class="text-muted">xxxxxx</p>
                      <h3 class="text-primary fs-30 font-weight-medium">34040</h3>
                    </div>
                  </div>
                  <canvas id="order-chart"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-5 grid-margin transparent">
              <div class="row">
                <div class="card-body">
                  <h5 class="card-title">Pulseras en el mapa</h5>
                  <p class="card-text">Ubicación de dispositivos activos con permiso de vigilancia.</p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.8432065133206!2d-79.92530278967752!3d-2.212788237330849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d71e7953a23b9%3A0xc06153dcd2d215e7!2sUnidad%20educativa%20JUAN%20XXIII!5e0!3m2!1ses-419!2sec!4v1710278041828!5m2!1ses-419!2sec" width="500" height="380" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title">Notifications</p>
                      <ul class="icon-data-list">
                        <li>
                          <div class="d-flex">
                            <img src="images/faces/face1.jpg" alt="user">
                            <div>
                              <p class="text-info mb-1">Isabella Becker</p>
                              <p class="mb-0">Sales dashboard have been created</p>
                              <small>9:30 am</small>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex">
                            <img src="images/faces/face2.jpg" alt="user">
                            <div>
                              <p class="text-info mb-1">Adam Warren</p>
                              <p class="mb-0">You have done a great job #TW111</p>
                              <small>10:30 am</small>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex">
                          <img src="images/faces/face3.jpg" alt="user">
                         <div>
                          <p class="text-info mb-1">Leonard Thornton</p>
                          <p class="mb-0">Sales dashboard have been created</p>
                          <small>11:30 am</small>
                         </div>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex">
                            <img src="images/faces/face4.jpg" alt="user">
                            <div>
                              <p class="text-info mb-1">George Morrison</p>
                              <p class="mb-0">Sales dashboard have been created</p>
                              <small>8:50 am</small>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="d-flex">
                            <img src="images/faces/face5.jpg" alt="user">
                            <div>
                            <p class="text-info mb-1">Ryan Cortez</p>
                            <p class="mb-0">Herbs are fun and easy to grow.</p>
                            <small>9:00 am</small>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.themewagon.com/" target="_blank">Themewagon</a></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

    <!-- alerta -->
    {% if request.user.is_authenticated and request.user.is_familiar %}
    {% include 'alertas.html' %}
    <audio id="alertaAudio" src="{% static 'sonidos/alerta.mp3' %}" preload="auto"></audio>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        var audio = document.getElementById("alertaAudio");
        var alertas = document.querySelectorAll(".alert");
        alertas.forEach(function(alerta) {
          alerta.addEventListener('click', function() {
            audio.play();
          });
        });
      });
    </script>
    {% endif %}
    <!-- alerta -->

  <!-- plugins:js -->
  <script src="{% static 'js/codigoAdmin/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'js/codigoAdmin/Chart.min.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/jquery.dataTables.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/dataTables.bootstrap4.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/dataTables.select.min.js' %}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/codigoAdmin/off-canvas.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/template.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/settings.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/codigoAdmin/dashboard.js' %}"></script>
  <script src="{% static 'js/codigoAdmin/Chart.roundedBarCharts.js' %}"></script>
  <!-- End custom js for this page-->
</body>

</html>

