<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-columns menu-icon "></i>
          <span class="menu-title">Mediciones</span>
          <!--<i class="fas fa-arrow-right"></i>-->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#form-elements">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Recetas </span>
          <!--<i class="menu-arrow"></i>-->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#charts">
          <i class="icon-bar-graph menu-icon"></i>
          <span class="menu-title">Gestionar familiares</span>
          <!--<i class="menu-arrow"></i>-->
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Detalle cuenta</span>
          <!--<i class="menu-arrow"></i>-->
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Editar información </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/documentation/documentation.html">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Información legal</span>
        </a>
      </li>
    </ul>
  </nav>